{% extends 'layout/base.html'%}

{% block content %}
    <div id="MobilePhoneAccessories">
        <div class="productGrid">
                <div class="items"> 
                    <a href="">
                        <img src="{{url_for ('static', filename='images/coolingStand.jpg')}}" alt="productIMG">
                        <p>Laptop Cooling Stand</p>
                        <p>₱599</p>
                    </a>
                </div>
                <div class="items"> 
                    <a href="">
                        <img src="{{url_for ('static', filename='images/coolingStand.jpg')}}" alt="productIMG">
                        <p>Laptop Cooling Stand</p>
                        <p>₱599</p>
                    </a>
                </div>
                <div class="items"> 
                    <a href="">
                        <img src="{{url_for ('static', filename='images/coolingStand.jpg')}}" alt="productIMG">
                        <p>Laptop Cooling Stand</p>
                        <p>₱599</p>
                    </a>
                </div>
                <div class="items"> 
                    <a href="">
                        <img src="{{url_for ('static', filename='images/coolingStand.jpg')}}" alt="productIMG">
                        <p>Laptop Cooling Stand</p>
                        <p>₱599</p>
                    </a>
                </div>
                <div class="items"> 
                    <a href="">
                        <img src="{{url_for ('static', filename='images/coolingStand.jpg')}}" alt="productIMG">
                        <p>Laptop Cooling Stand</p>
                        <p>₱599</p>
                    </a>
                </div>
        </div>
    </div>
{% endblock %}