{% extends 'layout/base.html'%}
    
{% block content %}
    <div class="pageName">
        <h2>Products</h2>
    </div>
    <center>
            <div class="productGrid">
                <div class="items"> 
                    <a href="">
                        <img src="{{url_for ('static', filename='images/bluetoothSpeaker.png')}}" alt="productIMG">
                        <p>Bluetooth Speaker</p>
                        <p>₱499</p>
                    </a>
                </div>
                <div class="items">
                    <a href="">
                        <img src="{{url_for ('static', filename='images/coolingStand.jpg')}}" alt="productIMG">
                        <p>Laptop Cooling Stand</p>
                        <p>₱599</p>
                    </a>
                </div>
                <div class="items">
                    <a href="">
                        <img src="{{url_for ('static', filename='images/fastChargingUSBC.jpg')}}" alt="productIMG">
                        <p>USB C Fast Charging Cable</p>
                        <p>₱249</p>
                    </a>
                </div>
                <div class="items">
                    <a href="">
                        <img src="{{url_for ('static', filename='images/JBL_WirelessBluetoothSoundbar.jpg')}}" alt="productIMG">
                        <p>JBL Bluetooth Soundbar</p>
                        <p>₱7999</p>
                    </a>
                </div>
                <div class="items">
                    <a href="">
                        <img src="{{url_for ('static', filename='images/JBLWaveBeam.png')}}" alt="productIMG">
                        <p>JBL Wavebeam Black</p>
                        <p>₱2499</p>
                    </a>
                </div>
                <div class="items">
                    <a href="">
                        <img src="{{url_for ('static', filename='images/kingston500gbSSD.jpg')}}" alt="productIMG">
                        <p>Kingston 500GB SSD</p>
                        <p>₱4499</p>
                    </a>
                </div>
                <div class="items">
                    <a href="">
                        <img src="{{url_for ('static', filename='images/magneticPhoneHolder.jpg')}}" alt="productIMG">
                        <p>Magnetic Phoneholder for Car</p>
                        <p>₱100</p>
                    </a>
                </div>
                <div class="items">
                    <a href="">
                        <img src="{{url_for ('static', filename='images/magsafeCase.jpg')}}" alt="productIMG">
                        <p>Magsafe Case</p>
                        <p>₱699</p>
                    </a>
                </div>
                <div class="items">
                    <a href="">
                        <img src="{{url_for ('static', filename='images/popsocket.jpg')}}" alt="productIMG">
                        <p>Popsocket</p>
                        <p>₱50</p>
                    </a>
                </div>
                <div class="items">
                    <a href="">
                        <img src="{{url_for ('static', filename='images/sonyNoiseCancellingHeadphones.png')}}" alt="productIMG">
                        <p>Sony Noise Cancelling Headphones</p>
                        <p>₱5999</p>
                    </a>
                </div>
                <div class="items"> 
                    <a href="">
                        <img src="{{url_for ('static', filename='images/temperedGlass.jpg')}}" alt="productIMG">
                        <p>Tempered Glass</p>
                        <p>₱150</p>
                    </a>
                </div>
                <div class="items">
                    <a href="">
                        <img src="{{url_for ('static', filename='images/USBcDockingStation.png')}}" alt="productIMG">
                        <p>USB C to 3 USB Docking Station</p>
                        <p>₱650</p>
                    </a>
                </div>
                <div class="items">
                    <a href="">
                        <img src="{{url_for ('static', filename='images/webcamFHD_USB.png')}}" alt="productIMG">
                        <p>FHD Webcam</p>
                        <p>₱799</p>
                    </a>
                </div>
                <div class="items">
                    <a href="">
                        <img src="{{url_for ('static', filename='images/wirelessKeyboardAndMouse.jpg')}}" alt="productIMG">
                        <p>Wireless Keyboard and Mouse</p>
                        <p>₱349</p>
                    </a>
                </div>
                <div class="items">
                    <a href="">
                        <img src="{{url_for ('static', filename='images/xiaomiNeckbandEarphones.jpg')}}" alt="productIMG">
                        <p>Xiaomi Neckband Earphones</p>
                        <p>₱899</p>
                    </a>
                </div>
                
            </div>
        </center>
{% endblock %}